/*!
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*!
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=02_glass.png&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #4297d7; background: #5c9ccc url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; }
.ui-state-hover a, .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88 url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*!
 * jQuery UI Resizable 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*!
 * jQuery UI Selectable 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*!
 * jQuery UI Accordion 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
/*!
 * jQuery UI Autocomplete 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.20
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*!
 * jQuery UI Button 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*!
 * jQuery UI Dialog 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*!
 * jQuery UI Slider 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*!
 * jQuery UI Tabs 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*!
 * jQuery UI Datepicker 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*!
 * jQuery UI Progressbar 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }.colorpicker {
	width: 25em;
	height: 18.5em;
	overflow: hidden;
	position: absolute;
	display: none;
	z-index: 2000;
}

.colorpicker_header{
	padding:3px;
	margin: 2px;
	line-height: 1.8em;
	text-align: center;
}

/* 2D color box */
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 1em;
	top: 1em;
	position: relative;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
	float: left;
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/styles/images/colorpicker_overlay.png);
}

.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(/styles/images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}

/* slider */
.colorpicker_hue {
	background: url(/styles/images/colorpicker_slider.png); 
	background-repeat: no-repeat;
	position: relative;
	margin-top: 1em;
	margin-left: 2em;
	width: 35px;
	height: 150px;
	cursor: n-resize;
	float: left;
}

.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(/styles/images/colorpicker_circle.gif) left top;
	margin: -4px 0 0 0;
	left: -9px;
}

/* color boxes */

.colorpicker_new_color {
	width: 3em;
	height: 2em;
	margin-left: 0em;
	margin-top: 1em;
	background: #f00;
	float: left;
}

.colorpicker_current_color {
	width: 3em;
	height: 2em;
	margin-left: 1em;
	margin-top: 1em;
	background: #f00;
	float: left;
}

/* common entry fields */
.colorpicker_field {
	width: 3em;
/*	background-position: top;
	position: absolute; */
}

.colorpicker input {
	text-align: right;
	margin: 0;
	padding: 0;
}

.colorpicker_prompt{
}

/* rgb block */
.colorpicker_rgb{
  float: left;
  margin-left: 0em;
}

.colorpicker_rgb_r {
	top: 6.2em;
	left: 16em;
}

.colorpicker_rgb_g {
	top: 8.2em;
	left: 16em;
}

.colorpicker_rgb_b {
	top: 10.2em;
	left: 16em;
}

/* hsb block */
.colorpicker_hsb{
  float: left;
	margin-left: 1em;
}

.colorpicker_hsb_h {
	top: 6.2em;
	right: 1em;
}

.colorpicker_hsb_s {
	top: 8.2em;
	right: 1em;
}

.colorpicker_hsb_b {
	top: 10.2em;
	right: 1em;
}

/* hex field */
.colorpicker_hex {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 17em;		
}

.colorpicker_hex_prompt {
	float:left;
	margin-right: 0.5em;
}

/* buttons */
.colorpicker_submit {
	position: absolute;
	right: 6.5em;
	bottom: 0.5em;
}

.colorpicker_cancel {
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
}

.colorpicker_lookup{
width: 22px;
height: 22px;
/*background: url(/styles/images/colorpicker_lookup.png);*/
}

.colorpicker_example{
float: left;
height: 1.5em;
padding: 5px;
border: 1px solid;
}
/* NetTalk menu css */

.nt-menu-div {
  border:0px solid #CCCCCC;
  height:2.5em;
  width:100%;
  border-collapse: collapse;
  margin:4px;  
}

.nt-menu{
	padding: 0;
	margin-bottom: 0.5em;
	margin-top: 0;
	list-style: none;
	height: 2.2em;
	border-collapse: collapse;
}

.nt-menu a:link, .nt-menu a:visited, .nt-menu a:hover, .nt-menu a:active {
outline-color:-moz-use-text-color !important;
outline-style:none !important;
outline-width:0 !important;
padding-left:4%;
padding-right:4%;
text-decoration:none;
}

.nt-menu-item a{
color:#222!important;
}

.nt-menu > li {
	float: left;
	white-space: nowrap;
}

.nt-menu > li > a {
	display: block;
	min-width: 100px;
	text-align:center;
	padding: 5px 4%;
	text-decoration: none;
}



.nt-menu > li ul {
	display: none;
	list-style: none;
	position: absolute;
	margin: -1px 0 0 0;
	z-index: 90;
	padding: 0;
}

.nt-menu > li ul a {
	display: block;
	width: auto;
	min-width: 152px;
	padding: 5px;
	text-decoration: none;
}



.nt-menu > li ul li ul {
	margin: -29px 0 0 163px;
	position: absolute;
}

.nt-menu span {
	float: right;
}

.nt-menuleft{
float:left;
margin-right:20px;
margin-top:10px;
}
.nt-menuright{
float:right;
margin-left:20px;
margin-top:10px;
}
.nt-month-set{
}

.nt-month-header{
text-align: center;
padding: 3px;
}

.nt-month-header-cell > div{
text-align: center;
font-weight: bold;
height: 1.2em !important;
background-color: #F8F8FF!important;
}

.nt-monthday-cell{
position:relative;/*5.23*/
cursor: pointer;
}

.nt-monthday-cell a{
text-decoration: none; 
}

.nt-monthday-empty-cell{
border: 1px solid transparent !important;
background-color: #FFFFF8;
}


.nt-month-big{
margin-bottom: 1em;
margin-right: 1em;
background: url("") repeat scroll 0 0 white;  
width:62em;
}

.nt-month-big > div > div {
width: 8em;
height: 8em;
padding: 3px;
border: 1px solid #DDDDDD;
margin: 1px;
float: left;
background-color: #FFFFFF;
}

.nt-content{
position: absolute;
top: 0;
left: 0;
background-repeat: no-repeat; 
background-position: bottom left;
width: 100%;
height: 100%;
text-align: center;
font-size: 1.1em;
}

.nt-label{
text-align: center;
font-size: 56pt;
color: #DDDDDD;
}

.nt-label-empty{
text-align: center;
font-size: 56pt;
color: #DDDDDD;
}

.nt-month-small{
margin-bottom: 1em;
margin-right: 1em;
background: url("") repeat scroll 0 0 white;
float:left;
width:14.25em;
}

.nt-month-small > div > div {
padding: 3px;
border: 1px solid #DDDDDD;
margin: 1px;
float: left;
width: 1.2em;
text-align: center;
}

.nt-label-small{
background-repeat: no-repeat; 
background-position: bottom left;
}

.nt-label-empty-small{
}

.nt-holiday{
color: #DDDDDD!important;
background-color: #444444!important;
}

/* Corner radius */
.cal-corner-right-small {
-moz-border-radius: 0px 6px 6px 0px; 
-webkit-border-radius:  0px 6px 6px 0px; 
border-radius:  0px 6px 6px 0px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-left-small { 
-moz-border-radius: 6px 0px 0px 6px; 
-webkit-border-radius:  6px 0px 0px 6px;
border-radius:  6px 0px 0px 6px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-all-small { 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border-radius: 6px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-right {
-moz-border-radius: 0px 12px 12px 0px; 
-webkit-border-radius:  0px 12px 12px 0px; 
border-radius:  0px 12px 12px 0px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-left  {
-moz-border-radius: 12px 0px 0px 12px; 
-webkit-border-radius:  12px 0px 0px 12px;
border-radius:  12px 0px 0px 12px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-all { 
-moz-border-radius: 12px; 
-webkit-border-radius: 12px; 
border-radius: 12px; 
/*behavior: url(PIE.htc);*/
}

.cal-grad{
}


.cal-scroll{
/*width: 400px;*/
overflow: scroll;
overflow-x: scroll;
overflow-y: hidden;
}


.planner-header-row-size{
height:  22px;
width: 100%;
}

.planner-row-size{
/*height: 52px;*/
width: 100%;
border: 0px solid #DDDDDD;
}

.planner-names-width{
width: 10em;
}

.planner-data-width{
width: 2em;
}

.planner-header-data-height{
height: 14px;
padding: 3px;
}

.planner-data-height{
height: 100%;
}

.planner-border{
border: 1px solid #dddddd;
}


.ui-resizable-e{
border: 1px dashed #888888;
width: 3px;
}

.planner-data{
position:absolute;
padding-left:0;
padding-right:0;
border: 1px solid #888888;
overflow:hidden;
}

.ui-resizable-handle {
z-index: 500;
}

.nt-relative{
position:relative;
}

.planner-back{
border:1px solid #FAFAFA;    
position:absolute;
top:0;
left:0;
color:#EEEEEE;        
font-size:11pt;
}/**
 * Copyright (c) 2012 Anders Ekdahl (http://coffeescripter.com/)
 * Dual licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
 * and GPL (http://www.opensource.org/licenses/gpl-license.php) licenses.
 *
 * Version: 1.2.7
 *
 * Demo and documentation: http://coffeescripter.com/code/ad-gallery/
 * bruce made image locations absolute, not relative.
 */
.ad-gallery {
  width: 600px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 200;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(/styles/images/trans.gif);
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(/styles/images/ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(/styles/images/ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(/styles/images/opa75.png);
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='/styles/images/opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -20px;
      width: 13px;
      display: block;
      background: url(/styles/images/ad_scroll_back.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(/styles/images/ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 3px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 3px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}
/* copies of jquery-ui for case where only jquery mobile exists. 
*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }

/* CSS Document */

html{
 margin:0;
 padding:0;
 height:100%;
 border:none;
}

form {
 padding: 0px;
 margin: 0px;
}

/*optional table which can go around menus*/
.menutable {
 padding: 0px;
 border-collapse: collapse;
 border: 0;
 background-color: #7190e0;
 height:100%;
}

.Black{color: #000000!important;}
.Maroon{color: #800000!important;}
.Green{color: #008000!important;}
.Olive{color: #808000!important;}
.Orange{color: #FF8000!important;}
.Navy{color: #000080!important;}
.Purple{color: #800080!important;}
.Teal{color: #008080!important;}
.Gray{color: #808080!important;}
.Silver{color: #C0C0C0!important;}
.Red{color: #FF0000!important;}
.Lime{color: #00FF00!important;}
.Yellow{color: #FFFF00!important;}
.Blue{color: #0000FF!important;}
.Fuchsia{color: #FF00FF!important;}
.Aqua{color: #00FFFF!important;}
.White{color: #FFFFFF!important;}
.black{color: #000000!important;}
.maroon{color: #800000!important;}
.green{color: #008000!important;}
.olive{color: #808000!important;}
.orange{color: #FF8000!important;}
.navy{color: #000080!important;}
.purple{color: #800080!important;}
.teal{color: #008080!important;}
.gray{color: #808080!important;}
.silver{color: #C0C0C0!important;}
.red{color: #FF0000!important;}
.lime{color: #00FF00!important;}
.yellow{color: #FFFF00!important;}
.blue{color: #0000FF!important;}
.fuchsia{color: #FF00FF!important;}
.aqua{color: #00FFFF!important;}
.white{color: #FFFFFF!important;}

.black-bg{background-color: #000000!important;}
.maroon-bg{background-color: #800000!important;}
.green-bg{background-color: #008000!important;}
.olive-bg{background-color: #808000!important;}
.orange-bg{background-color: #FF8000!important;}
.navy-bg{background-color: #000080!important;}
.purple-bg{background-color: #800080!important;}
.teal-bg{background-color: #008080!important;}
.gray-bg{background-color: #808080!important;}
.silver-bg{background-color: #C0C0C0!important;}
.ash-bg{background-color: #F0F0F0!important;}
.red-bg{background-color: #FF0000!important;}
.lime-bg{background-color: #00FF00!important;}
.yellow-bg{background-color: #FFFF00!important;}
.blue-bg{background-color: #0000FF!important;}
.fuchsia-bg{background-color: #FF00FF!important;}
.aqua-bg{background-color: #00FFFF!important;}
.white-bg{background-color: #FFFFFF!important;}

.Bold{font-weight: bold;}
.RightJustify{text-align: right;}
.CenterJustify{text-align: center;}
.LeftJustify{text-align: left;}
.FixedWidth{font-family: "Courier New"!important;}
.FixedPitch{font-family: "Courier New"!important;}
.nt-fixed-pitch{font-family: "Courier New"!important;}
.NoWrap{white-space: nowrap;}
.Wrap{white-space: normal;}
.Upper{text-transform: uppercase;}
.Lower{text-transform: lowercase;}
.Capitalize{text-transform: capitalize;}
.nt-bold{font-weight: bold;}
.nt-normal{font-style:normal;font-weight:normal;}
.nt-italic {font-style:italic}
.nt-upper{text-transform: uppercase;}
.nt-lower{text-transform: lowercase;}
.nt-capitalize{text-transform: capitalize;}
.nt-right-justify{text-align: right;}
.nt-center-justify{text-align: center;}
.nt-left-justify{text-align: left;}
.PageBodyDiv {height:100%;}

.SelectList {
 color: #333;
 border-collapse: collapse;
}

.SelectList1 {
 background-color: #EEEEEE;
/* padding: 3px;*/
}
.SelectList2 {
 background-color: #FFFFFF;
/* padding: 3px;*/
}

/* generic div used for forms */
.fdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for form fields */
.adiv {
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for hidden form fields */
.hdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 0px;
 display: inline;
}

/*------------------------------------------------------------*/
/*general layout*/
.nt-wide{width:100%;}
.nt-left{float: left; margin-right: 5px;}
.nt-hard-left{float: left;}
.nt-center{margin:auto;padding:0;}
.nt-right{float: right;}
.nt-nowrap{white-space: nowrap;}
.nt-wrap{white-space: normal;}
.nt-width-0{width:0;}
.nt-width-5{width:5%;}
.nt-width-10{width:10%;}
.nt-width-15{width:15%;}
.nt-width-20{width:20%;}
.nt-width-25{width:25%;}
.nt-width-30{width:30%;}
.nt-width-33{width:33%;}
.nt-width-35{width:35%;}
.nt-width-40{width:40%;}
.nt-width-45{width:45%;}
.nt-width-50{width:50%;}
.nt-width-55{width:55%;}
.nt-width-60{width:60%;}
.nt-width-65{width:65%;}
.nt-width-66{width:66%;}
.nt-width-70{width:70%;}
.nt-width-75{width:75%;}
.nt-width-80{width:80%;}
.nt-width-85{width:85%;}
.nt-width-90{width:90%;}
.nt-width-95{width:95%;}
.nt-width-99{width:99%;}
.nt-width-100{width:100%;}

.nt-width-50px{width:50px;}
.nt-width-75px{width:75px;}
.nt-width-100px{width:100px;}
.nt-width-110px{width:110px;}
.nt-width-125px{width:125px;}
.nt-width-150px{width:150px;}
.nt-width-200px{width:200px;}
.nt-width-300px{width:300px;}
.nt-width-400px{width:400px;}
.nt-width-500px{width:500px;}

.nt-height-10px{height:10px;}
.nt-height-15px{height:15px;}
.nt-height-20px{height:20px;}

.nt-margin-top{margin-top: 0.5em !important;}
.nt-margin-right{margin-right: 0.5em !important;}
.nt-margin-bottom{margin-bottom: 0.5em !important;}
.nt-margin-left{margin-left: 0.5em !important;}

.nt-margin-top-0{margin-top:0 !important;}
.nt-margin-right-0{margin-right:0 !important;}
.nt-margin-bottom-0{margin-bottom:0 !important;}
.nt-margin-left-0{margin-left:0 !important;}

.nt-margin-top-1{margin-top: 1em !important;}
.nt-margin-right-1{margin-right: 1em !important;}
.nt-margin-bottom-1{margin-bottom: 1em !important;}
.nt-margin-left-1{margin-left: 1em !important;}

.nt-margin-top-15{margin-top: 1.5em !important;}
.nt-margin-right-15{margin-right: 1.5em !important;}
.nt-margin-bottom-15{margin-bottom: 1.5em !important;}
.nt-margin-left-15{margin-left: 1.5em !important;}

.nt-padding-left-1{padding-left: 1em !important;}
.nt-padding-right-1{padding-right: 1em !important;}
.nt-padding-top-1{padding-top: 1em !important;}
.nt-padding-bottom-1{padding-bottom: 1em !important;}

.nt-padding-1{padding: 1em !important;}
.nt-padding-3rd{padding: 0.33em !important;}
.nt-padding-5px{padding: 5px !important;}
.nt-padding-2px{padding: 2px !important;}

.nt-onright{
border-collapse: collapse;
display: inline;
float: left;
min-width: 55%;
}

.nt-inline {
 border-collapse: collapse;
 display: inline-block;
}

.nt-fix-bottom-left{
position:absolute;
bottom:0;
left:0;
}

.nt-fix-bottom-right{
position:absolute;
bottom:0;
right:0;
}


.nt-fix-top-left{
position:absolute;
top:0;
left:0;
}

.nt-fix-top-right{
position:absolute;
top:0;
right:0;
}

.nt-icon-left{
float:left;
margin-top:3px;
margin-left:0px;
}

/* for compatability with static sites */
.bdiv {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
 visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar-access { position: absolute; right: 1.6em; top: 53%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.nt-browse-titlebar-access{float:right;padding-top:2px;}
.nt-form-page-access{position:absolute;top:12px;right:12px;}

.nt-site-header{
border-bottom:5px solid #7190E0;
padding:0%;
width:100%;
/*font-size: 3em;*/
font-weight: normal;
}

.nt-site-footer{
border-top:5px solid #7190E0;
width:100%;
font-size: 1em;
font-weight: normal;
margin-top: 10px;
}

.nt-site-header-logo{
margin: 4px;
}

/* for mobile, checkboxes in browses without text.*/
.ui-btn-inner{
overflow:visible;     
min-height: 1em;
}

/* breadcrumb support */
.nt-float-left{
  float:left;
}

.nt-bread {
	display: inline-block;
	border:1px #CCCCCC solid;
	background-color: #FCFCFF;	/*x*/  
 }

.nt-crumb-first{
	margin-left: 5px;
}

a.nt-crumb, a.nt-crumb-first{
	height: 24px;
}

a.nt-crumb, a.nt-crumb-first, .nt-crumb-last{
  background-color: #8E9FC2;
  color: #FFFFFF;
  display: block;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important;	     
  margin-top: 5px;
  margin-bottom: 5px;    
}

a.nt-crumb-last:hover{
	background-color:#0066CC;	
	color:#FFFFFF;
}

.nt-whole-crumb{
	display:block;	
}

.nt-whole-crumb:hover a {
	background-color:#0066CC;	
}

.nt-whole-crumb:hover .nt-crumb-right{
	border-left: 12px solid #0066CC;    
}

.nt-whole-crumb:hover .nt-crumb-left{
	border-top: 12px solid  #0066CC;
	border-bottom: 12px solid  #0066CC;
}

.nt-crumb-link{
	text-decoration: none !important;	
}

.nt-crumb-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #8E9FC2;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.nt-crumb-left {
	width: 0;
	height: 0;
	border-top: 12px solid  #8E9FC2;
	border-bottom: 12px solid  #8E9FC2;
	border-left: 12px solid #FCFCFF;  /*x*/
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;	  
}

.nt-crumb-last{
	color: #000000;	
	margin-left: 5px;  
	margin-right: 5px;	
	background-color: #F8F8F8;
	border: 1px solid #DDDDDD;
}
/* end of breadcrumb support */



/*theme: custom*/

body {
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size: 12px;
}

.nt-plain{margin-bottom: 1em;}

.nt-rounded{
background-color:#EEEEFF;
margin-bottom: 0.5em;
margin-top: 0.5em;
padding: 5px;
}

.nt-rounded-header{
padding:5px;
margin-bottom: 1em;
}

.nt-wizard {
display: none;
padding: 1em;
}

.nt-html{}

.nt-body {
 background-color: #FFF;
 margin: 1em;
 height: 96%;
}

.nt-body-div { height:100%;}

/*buttons general*/
/*need px, and margin, for mobile support*/
.nt-small-button{height:25px;width: 25px !important;margin: 0!important;}
.nt-small-button span{padding: 0.1em ! important;}
.nt-button{min-width: 7em;font-size: 12px;}
.ui-button-icon-only{min-height: 1.6em;width: 1.6em !important;}
.ui-button-icon-only span{padding: 0.1em ! important; }

/* general headers*/
.nt-header{color:#999999;font-weight:normal;padding: 0.2em;}

.nt-site-header{
border-bottom:5px solid #7190E0;
}

.nt-site-header-6{
border-bottom:5px solid #7190E0;
}

.nt-site-footer{
border-top:5px solid #7190E0;
}

/* Specific Headers */
.nt-form-header{font-size: 2em;}
.nt-form-header-sub{font-size: 1.5em;}
.nt-browse-header{font-size: 2em;}
.nt-browse-header-sub{font-size: 1.5em;}

.nt-header-table{font-size:3em;width:100%;border:0;}
.nt-footer-table {font-size:0.8em;width: 100%;border:0;}

/* form specific*/
.nt-tab-title{
font-size: 1.2em;
padding-left: 5px;
padding-right: 5px;
}

.nt-form-table {
 padding: 4px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 10px;
 border: 0px;
/*  float: left; causes tab on xp-tabs to break*/
}

.nt-form-table td {
 border: 0px;
 font-weight: normal;
 vertical-align: top;
 /* white-space: nowrap; */
}

.nt-form-table img{
 margin-bottom: 4px;
}


.nt-form-div{
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}


.nt-formcell{
 display:table-cell;
 vertical-align:top;
 border-collapse: collapse;
 padding: 4px;
}

.nt-prompt{
 font-weight: bold;
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
 color: #444444;
}

.nt-prompt-span{
min-width: 130px;
}

.nt-display{
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
}

.nt-entry{
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 /*height: 1.5em;  text boxes also use this class */
  min-height: 1.5em;
 /*display:table-cell; */
 vertical-align:top;
}

.nt-select{padding-right:0px;margin-right:1em;}

.nt-entry-right{ text-align: right;}
.nt-entry-normal { background-color: #FDFDFD;}
.nt-entry-required { background-color: #FEF5E2;}
.nt-entry-readonly { background-color: #E2F9FE;}
.nt-entry-error { background-color: #FFBBBB;}

.nt-comment{
 color: #A0A0A0;
 float: left;
}

.nt-comment-error{padding-left: 0.5em;padding-right: 0.5em;}

.nt-tiny-form {
 font-size: 80%;
 padding: 0px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 0px;
 border: 0px;
}

.nt-tiny-form th {
 color: #333;
}

.nt-tiny-form input { color: #333;}


/* browse specific */

.nt-browse-table{
 margin: 5px 0px 5px;
 border-color: #888;
 border-top: 1px solid #888;
 border-left: 1px solid #888;
 border-bottom: 1px solid #888;
 border-right: 1px solid #888;
 padding: 0px;
 border-spacing: 0px;
}

.nt-browse-table tr{
vertical-align: top;
}
.nt-browse-table th{
white-space: nowrap;
font-size:1.1em;
}

.nt-browse-table td {
padding-left: 5px;
padding-right: 5px;
border-left: 0px solid #AAA;
border-right: 1px solid #EEE;
border-bottom: 1px solid #CCC;
border-top: 1px solid #EEE;
}

.nt-browse-table-footer{
font-weight: bold;
color: #000080;
font-size:1.1em
}

/* generic div for "_busy" graphic */
.nt-busy {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -40px;
 margin-left: -40px;
 width: 32px;
 height: 32px;
 z-index:9999; 
}

.nt-locator td div img{
margin-bottom: 2px;
}

.nt-alert {
font-weight: bold;
height:1.7em;
padding-left:0.5em;
padding-top:0.5em;
margin: 0.5em;
}

.nt-contract-icon{
background: transparent;
border: 0px;
display: block;
margin-top: 0.3em;
}

.nt-browse-resizable{
height: 99%;
overflow: scroll;
overflow-y: scroll;
overflow-x: hidden;
}

.nt-fakeget {
 text-decoration: underline;
 cursor: pointer;
}
/* keep this near the bottom */
.nt-hidden{
 visibility: hidden;
 border-collapse: collapse;
 margin: 0 !important;
 padding: 0 !important;
 display: none; 
 height: 0 !important;
}

.nt-menu-item{
margin-top: 0.3em;
margin-bottom: 0.3em;
}

/* Corner radius */
.nt-corner-tl { -moz-border-radius: 4px 0px 0px 0px; -webkit-border-radius: 4px 0px 0px 0px; border-radius: 4px 0px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-tr { -moz-border-radius: 0px 4px 0px 0px; -webkit-border-radius: 0px 4px 0px 0px; border-radius: 0px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bl { -moz-border-radius: 0px 0px 4px 0px; -webkit-border-radius: 0px 0px 4px 0px; border-radius: 0px 0px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-br { -moz-border-radius: 0px 0px 0px 4px; -webkit-border-radius: 0px 0px 0px 4px; border-radius: 0px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-top { -moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bottom { -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; behavior: url(PIE.htc);}
.nt-corner-right { -moz-border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-left { -moz-border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; border-radius: 4px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-all { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; behavior: url(PIE.htc);}


/* simulated XP tabs with jQuery tab widget */
.ui-tabs .nt-xptab-title li a{
padding-left: 3px;
padding-right: 3px;
padding-top: 0;
padding-bottom: 0;
}

.ui-tabs .nt-xptab-title li{
border: 1px solid #CCCCCC!important;
padding-top:2px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected {
border-bottom:1px solid #F7F7F7!important;
border-top: 3px solid #EF8C08 !important;
padding-top:0px;
padding-bottom:0px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected a{
background: #F7F7F7;
}

.nt-xptab-title, .nt-xptab-title a{ 
background: white;
border: 0;
font-size: 11px;
color: black!important;
font-weight: normal;
font-family: arial;
line-height: 21px;
}

.nt-countdown{font-size:1em!important;color: red;}
.nt-browse-gb1{background-color: #FFFFFF;}
.nt-browse-gb2{background-color: #F8F8F8;}
.nt-browse-mouseover{background-color: #DDDDDD;}
.nt-browse-selected{background-color: #CCCCCC;}
.nt-progress{min-width:100px;min-height:15px;}

