﻿/* override HTML elements*/
a { 
	color: #02136b; 
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	text-decoration: underline 
}

a:link { 
	color: #02136b; 
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	text-decoration: underline 
	}
	
a:visited { 
	color: #02136b; 
	text-decoration: underline 
	}
	
a:hover { 
	color: #538bed; 
	text-decoration: none 
	}
	
a:active { 
	color: #7fa3ff; 
	text-decoration: none 
	}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 13px; 
	font-style: normal;
 	font-weight: normal; 
 	color: #000000; 
 	background-color: white;
}

body.newBody {
 	background-image:url('images/background.jpg');
	background-repeat:repeat-x;
}

td {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}
	
h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-weight: bold; 
	color: #2B4F91
	}
	
h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-weight: bold; 
	color: #2B4F91
	}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #2B4F91;
}

h4 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2B4F91;
}
	
hr {
	color: #CCCCCC;
	}

img {
	border-width: 0px;
}

img.middle{
 vertical-align:middle;
}

ul {
	list-style-image: url('images/_bullet_small.gif');
	line-height: 1.5em;
}

ol {
	line-height: 120%;
}


/*Custom classes*/

/* The Wrapper divs add a nice outer border at the top and a drop shadow section
   at the bottom of the page, both of which fade to white */
div.wrapper {
	width: 955px;
	margin: 0 auto;
	padding: 10px 10px 10px 15px;
	background-color: white;
	background-image: url('images/wrapper_top.gif');
	background-repeat: no-repeat;
}
div.wrapperBottom {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 50px 15px;
	background-color: white;
	background-image: url('images/wrapper_bottom.gif');
	background-repeat: no-repeat;
}



tr.evenrow td{
	background-color: #F7F8FD; 
}

tr.oddrow td{
	background-color: white; 
}

div.ContentArea table th
{
	background: #cccccc;
	vertical-align: bottom;
}

div.ContentArea table th
{
	padding: 5px;
	text-align: left;
  	font-size: 3mm;
}

.indented {
	margin-left: 40px;
	font: 10pt;
}

.indentSmall {
	margin-left: 15px;
	font: 10pt;
}

.indent2 {
	margin-left: 80px;
}

.indent3 {
	margin-left: 100px;
}


.highlighted {
	background-color: #E3EAF9;
	font-weight: bold;
}

.important {
	font-weight: bold;
	color: #FF9933;
}

.veryImportant {
	font-weight: bold;
	color: #D70000;
}

.fixedWidth {
	font-family: "Courier New", Courier, monospace;
}

.s_comment {
	font-family: "Courier New", Courier, monospace;
	color: #808080;
}

.s_string {
	font-family: "Courier New", Courier, monospace;
	color: #008000;
}

.s_builtin {
	font-family: "Courier New", Courier, monospace;
	color: #000080;
}

.equateList {
	font-family: "Courier New", Courier, monospace;
	padding-left: 28px;
}

.s_var {
	font-family: "Courier New", Courier, monospace;
	color: #FF0000;
}

.s_generated {
	font-family: "Courier New", Courier, monospace;
	color: #000000;
	background-color: #CCCCCC;
}

.nomargin {
	margin-bottom: 0px;
}

.centered {
	text-align: center;
}

/* Capesoft Table styles - although this is still using a table instead of a DIV
   tag it is purely style based.  
   These produce the "old style" blue header CapeSoft tables.
*/
   
td.tableHeader {
	background-image: url('images/slick%20table_r2_c2.gif');
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-bottom: 9px;
}

td.left {
	background-image: url('images/slick%20table_r3_c2.gif');
	background-repeat: repeat-y;
	width: 4px;
}

td.right {
	background-image: url('images/slick%20table_r3_c4.gif');
	background-repeat: repeat-y;
	width: 9px;
}
   
td.blc {
	background-image: url('images/slick%20table_r4_c2.gif');
	background-repeat: no-repeat;
	height: 4px;
}

td.brc {
	background-image: url('images/slick%20table_r4_c4.gif');
	background-repeat: no-repeat;
	height: 4px;
}

td.bottom {
	background-image: url('images/slick%20table_r4_c3.gif');
	background-repeat: repeat-x;
	height: 4px;
}

table.cstable {
	width: 619px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.smallgray {
	color: #808080;
	font-size: 10px;
}

.middle {
	vertical-align: middle;
}

/* Splitter provides what is essentially a nice looking Horizontal Rule from any DIV or P tag etc.*/
.splitter {
	background-image: url('images/hr.png');
	background-repeat: no-repeat;
	background-position: center center;
}

/* New Classes for formatting with semantic meaning. Use the .Method class indicates a method name. */
/* using .Method deprecated indicates a method name that is deprecated, .params indicates a paramter list*/
/* These styles in conjunction with clean XHTML allows the document to be parsed and have semantic meaning -*/
/* for example a TOC of methods could be built trivially by listing each item with the .Method class*/
.Method {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
  /*.params is used for the actual params list*/
.params {
	font-size: 13px;
	font-style: italic;
	color: #284964;
	font-family: "Times New Roman", Times, serif;
}
.MethodDeprecated {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #999999;
}

.Property {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
.PropertyType {
	font-size: 13px;
	font-style: italic;
	color: #284964;
	font-family: "Times New Roman", Times, serif;
}
.small {
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
}
.LargeHeading {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 22px;
}


/*Deprecated Styles - To be removed*/
.contentsTable {
	line-height: 150%;
}

.contentsSub {
	font: 9pt;
	margin: -10px 0 -7px 20px;
}
h2.close {
	margin-bottom: -2px;
	margin-top: 4px;
}

