﻿/* override HTML elements*/
a { 
	color: #02136b; 
	text-decoration: underline 
}

a:link { 
	color: #02136b; 
	text-decoration: underline 
	}
	
a:visited { 
	color: #02136b; 
	text-decoration: underline 
	}
	
a:hover { 
	color: #538bed; 
	text-decoration: none 
	}
	
a:active { 
	color: #7fa3ff; 
	text-decoration: none 
	}

body {
	font-family: Arial, Verdana,"Times New Roman",Times,serif;
	font-size: 0.95em; 
	font-style: normal;
 	font-weight: normal; 
 	color: #000000; 
 	background-color: white;
 	padding-left:40px;
 	padding-right:40px;
}

body.newBody {
 	background-image:url('images/background.jpg');
	background-repeat:repeat-x;
}
	
h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 1.9em; 
	color: #1F4995
	}
	
h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 1.5em; 
	color: #2B4F91
	}

h3 {
	font-size: 1.2em;
	color: #2B4F91;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #2B4F91;
}

h5 {
	padding-left:2em;
	font-size: 1.1em;
	font-weight: bold;
	color: #2B4F91;
}

h6 {
	padding-left:4em;
	font-size: 1.1em;
	font-weight: bold;
	color: #2B4F91;
}


	
hr {
	color: #CCCCCC;
	}

img {
	border-width: 0px;
}

img.middle{
 vertical-align:middle;
}

ul {
	line-height: 1.5em;
	list-style:circle outside none;
}

ol {
	line-height: 120%;
}

ol li {
	margin-bottom: 0.75em;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }


/*Custom classes*/

.afterh1 {
padding: 0.75em;
line-height: 1.4em;	
border-top: 3px solid #2770D5;
border-bottom: 3px solid #2770D5;
}

.afterh2 {
padding: 0.75em;
line-height: 1.4em;	
border-bottom: 3px solid #2770D5;
width:100%;
}

.afterh3 {
padding-left: 1.75em;
line-height: 1.4em;	
border-bottom: 0px solid #2770D5;
}

.afterh4 {
padding-left: 2.25em;
line-height: 1.2em;	
}
.afterh5 {
padding-left: 2.75em;
line-height: 1.2em;	
}
.afterh6 {
padding-left: 3.25em;
line-height: 1.2em;	
}



.doctable{
margin-top:0.75em;
margin-bottom:0.75em;
border: none;	
min-width: 50%;
border-collapse: collapse;
}
.doctable th{
border: 1px solid #488891;
color:#488891;
background-color:#F5F8FB;
font-weight: bold; 
padding: 0.25em;
}

.doctable tr{
border: none;	
}
.doctable td{
border: 1px solid #488891;
padding: 0.25em;
}

.reftable{
margin-top:0.75em;
margin-bottom:0.75em;
border: none;	
min-width: 50%;
border-collapse: collapse;
}
.reftable th{
border: 1px solid #488891;
color:#488891;
background-color:#F5F8FB;
font-weight: bold; 
padding: 0.25em;
}

.reftable tr{
border: none;	
}
.reftable td{
text-align:left;
vertical-align:top;
border: 1px solid #488891;
padding: 0.25em;
}



.question{
font-weight: bold;
}

.answer{
font-weight: bold;	
}

/* The Wrapper divs add a nice outer border at the top and a drop shadow section
   at the bottom of the page, both of which fade to white */
div.wrapper {
	width: 955px;
	margin: 0 auto;
	padding: 10px 10px 10px 15px;
	background-color: white;
	background-image: url('images/wrapper_top.gif');
	background-repeat: no-repeat;
}
div.wrapperBottom {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 50px 15px;
	background-color: white;
	background-image: url('images/wrapper_bottom.gif');
	background-repeat: no-repeat;
}



tr.evenrow td{
	background-color: #F7F8FD; 
}

tr.oddrow td{
	background-color: white; 
}

div.ContentArea table th
{
	background: #cccccc;
	vertical-align: bottom;
}

div.ContentArea table th
{
	padding: 5px;
	text-align: left;
  	font-size: 3mm;
}

.indented {
	margin-left: 40px;
}

.indentSmall {
	margin-left: 15px;
	font: 10pt;
}

.indent2 {
	margin-left: 80px;
}

.indent3 {
	margin-left: 100px;
}


.highlighted {
	background-color: #E3EAF9;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}


.important {
	font-weight: bold;
	color: #FF9933;
}

.veryImportant {
	font-weight: bold;
	color: #D70000;
}

.fixedWidth {
	font-family: "Courier New", Courier, monospace;
}

.s_comment {
	font-family: "Courier New", Courier, monospace;
	color: #808080;
}

.s_string {
	font-family: "Courier New", Courier, monospace;
	color: #008000;
}

.s_folder{
	font-family: "Courier New", Courier, monospace;
	color: #808000;
}


.s_code{
	font-family: "Courier New", Courier, monospace;
	color: #008000;
}

.s_error {
	font-family: "Courier New", Courier, monospace;
	color: #800000;
}

.s_builtin {
	font-family: "Courier New", Courier, monospace;
	color: #000080;
}

.equateList {
	font-family: "Courier New", Courier, monospace;
	padding-left: 28px;
}

.equateList {
	font-family: "Courier New", Courier, monospace;
	padding-left: 28px;
}

.s_var {
	font-family: "Courier New", Courier, monospace;
	color: #FF0000;
}

.s_generated {
	font-family: "Courier New", Courier, monospace;
	color: #000000;
	background-color: #CCCCCC;
}

.nomargin {
	margin-bottom: 0px;
}

.centered {
	text-align: center;
}

/* Capesoft Table styles - although this is still using a table instead of a DIV
   tag it is purely style based.  
   These produce the "old style" blue header CapeSoft tables.
*/
   
td.tableHeader {
	background-image: url('images/slick%20table_r2_c2.gif');
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-bottom: 9px;
}

td.left {
	background-image: url('images/slick%20table_r3_c2.gif');
	background-repeat: repeat-y;
	width: 4px;
}

td.right {
	background-image: url('images/slick%20table_r3_c4.gif');
	background-repeat: repeat-y;
	width: 9px;
}
   
td.blc {
	background-image: url('images/slick%20table_r4_c2.gif');
	background-repeat: no-repeat;
	height: 4px;
}

td.brc {
	background-image: url('images/slick%20table_r4_c4.gif');
	background-repeat: no-repeat;
	height: 4px;
}

td.bottom {
	background-image: url('images/slick%20table_r4_c3.gif');
	background-repeat: repeat-x;
	height: 4px;
}

table.cstable {
	width: 619px;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

.smallgray {
	color: #808080;
	font-size: 0.8em;
}

.middle {
	vertical-align: middle;
}

/* Splitter provides what is essentially a nice looking Horizontal Rule from any DIV or P tag etc.*/
.splitter {
	background-image: url('images/hr.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.methodhead{
border-bottom: solid 1px #000080 ;	
padding-bottom: 3px; 

}

/* New Classes for formatting with semantic meaning. Use the .Method class indicates a method name. */
/* using .MethodDeprecated indicates a method name that is deprecated, .params indicates a paramter list*/
/* These styles in conjunction with clean XHTML allows the document to be parsed and have semantic meaning -*/
/* for example a TOC of methods could be built trivially by listing each item with the .Method class*/
.methodtitle {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	color:#333333;
	font-weight:bold;
}

.sectionheading{
  color:blue;	
}

.Method {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
}
  /*.params is used for the actual params list*/
.params {
	font-size: 0.9em;
	font-style: italic;
	color: #284964;
	font-family: "Courier New", Courier, monospace;
}
.MethodDeprecated {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	color: #999999;
}

.Structure {
	font-size: 1em;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #538BED;
}

.Property {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
}

.Equate {
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	color: #808000;
}
.PropertyType {
	font-size: 0.9em;
	font-style: italic;
	color: #284964;
	font-family: "Courier New", Courier, monospace;
}
.small {
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
}
.LargeHeading {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 24px;
}

.HeadingUnderLined {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-weight: normal;
	color: black;
	font-size: 24px;
	border-bottom: 1px #D4D4D4 solid;
}

.ImportantBlock {
	padding: 4px 0 8px 0; 
	margin:8px 0; 
	border-top: 2px #FF9933 solid; 
	border-bottom: 1px black solid; 
	background-color:#FFF1E8
}


/*Deprecated Styles - To be removed*/
.contentsTable {
	line-height: 150%;
}

.contentsSub {
	font: 9pt;
	margin: -10px 0 -7px 20px;
}
h2.close {
	margin-bottom: -2px;
	margin-top: 4px;
}

.Larger {
	font-family: Georgia;
	font-size: 16px;
}
.PrivateProperty {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #808080;
}
.mblock{
border-bottom:2px solid #666666;
padding-bottom:5px;
}

/* breadcrumb support */
.bread {
	display: inline-block;
	border:1px #CCCCCC solid;
	background-color: #FCFCFF;
	width:100%;	 
}

.crumb-first{
	margin-left: 5px;
}

a.crumb, a.crumb-first{
    height: 24px;		
}

a.crumb, a.crumb-first, .crumb-last{
    background-color: #8E9FC2;
    color: #FFFFFF;
    display: block;
    line-height: 22px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none !important;	
	margin-top: 5px;
	margin-bottom: 5px;        
}

a.crumb-last:hover{
	background-color:#0066CC;	
	color:#FFFFFF;
}

.whole-crumb{
	display:block;	
	float:left;
}

.whole-crumb:hover a {
	background-color:#0066CC;	
}

.whole-crumb:hover .crumb-right{
	border-left: 12px solid #0066CC;
}

.whole-crumb:hover .crumb-left{
	border-top: 12px solid  #0066CC;
	border-bottom: 12px solid  #0066CC;
}

.crumb-link{
    text-decoration: none !important;	
}

.crumb-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #8E9FC2;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;		
}

.crumb-left {
	width: 0;
	height: 0;
	border-top: 12px solid  #8E9FC2;
	border-bottom: 12px solid  #8E9FC2;
	border-left: 12px solid #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;			
}

.crumb-last{
    color: #000000;	
	margin-left: 5px;    
	margin-right: 5px;	
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
}
/* end of breadcrumb support */

.cs-left{
float:left;	
}
.cs-right{
float:right;	
}
.cs-none{
float:none;	
}


.headerfieldset{
background-color:#ffffff;	
border:2px #f0f0f0 solid;
min-height:160px;
}

.headerfieldset h1{
padding-top:5px;
padding-left:5px;
}

.version{
padding-left:1em;
padding-right:1em;	
margin-right:3em;
background-color:#FFFFCC;	
}
.cs-button-row{
height:50px;
}


a.cs-button{
display:block;
background-color: #8E9FC2;
color:#FFFFFF;
height:30px;
line-height:29px;
margin:4px;
text-decoration:none!important;
padding-left:16px;
padding-right:16px;
}

a.cs-button:hover{
background-color:#0066CC;
}

.quote{
font-style:italic;	
}

.template{
color:#000066;	
padding-top:10px;	
padding-bottom:4px;
border-bottom:2px solid #996633;
margin-bottom:4px;
}
