﻿/* override default link style*/      
A:link {
    color:#225691;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
    font-weight:none;
    font-size:9pt;
    text-decoration:none;
}
    
A:visited {
    color:#465B80;
 	text-decoration:none;
}
     	
A:hover {
    color:#5AAEED;
	text-decoration:underline;
}

A:active {
	color:#0066AA;
	text-decoration:none;
}

/* Styles for formatting tables and default paragraph styles etc*/
header {
	font-size: 9pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: Center;
}

P {
	font-size: 9pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-align: Left;
	list-style-image: url("Images/bullet_small.gif");
}

p.header {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    color: #999999;
	text-align: left;   
	font-weight: bold;
	
}

td {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	font-weight: normal; 
	color: #000000
	}


td.tableleft
{
    background-image:  url('images/table_lefttile.png'); 
    background-repeat: repeat-y;
}

td.tableright
{
    background-image:  url('images/table_righttile.png');
    background-repeat: repeat-y;
}

td.tablebottom
{
    background-image:  url('images/table_bottom.png'); 
    background-repeat: repeat-x;
}

td.tablebody
{
    background-image:  url('images/table_background.png'); 
    background-repeat: repeat-x;
}


td.header {
	font-size: 10pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    color: #999999;
	font-weight: bold;
	background-image: url("images/table_top.png");
	background-repeat: repeat-x;
}

li {
	font-size: 9pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	text-align: Left;
	list-style-image: url("Images/bullet_small.gif");

}


img {
	border-width: 0px;
}

img.middle{
 vertical-align:middle;
}

.indented {
	margin-left: 40px;
	font: 10pt;
}

.indentSmall {
	margin-left: 15px;
	font: 10pt;
}

.indent2 {
	margin-left: 80px;
}

.indent3 {
	margin-left: 100px;
}


.highlighted {
	background-color: #D9ECFF;
	font-weight: bold;
}

.important {
	font-weight: bold;
	color: #FF9933;
}

.veryImportant {
	font-weight: bold;
	color: #D70000;
}

.fixedWidth {
	font-family: "Courier New", Courier, monospace;
}

.s_comment {
	font-family: "Courier New", Courier, monospace;
	color: #808080;
}

.s_string {
	font-family: "Courier New", Courier, monospace;
	color: #008000;
}

.s_builtin {
	font-family: "Courier New", Courier, monospace;
	color: #000080;
}

.equateList {
	font-family: "Courier New", Courier, monospace;
	padding-left: 28px;
}

.s_var {
	font-family: "Courier New", Courier, monospace;
	color: #FF0000;
}

.s_generated {
	font-family: "Courier New", Courier, monospace;
	color: #000000;
	background-color: #CCCCCC;
}

.nomargin {
	margin-bottom: 0px;
}

.centered {
	text-align: center;
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 18px; 
	font-style: normal; 
	font-weight: bold; 
	color: #2B4F91
	}
	
h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-weight: bold; 
	color: #2B4F91
	}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #2B4F91;
}

h4 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2B4F91;
}

/* Splitter provides what is essentially a nice looking Horizontal Rule from any DIV or P tag etc.*/
.splitter {
	background-image: url('images/hr.png');
	background-repeat: no-repeat;
	background-position: center center;
}

/* New Classes for formatting with semantic meaning. Use the .Method class indicates a method name. */
/* using .Method deprecated indicates a method name that is deprecated, .params indicates a paramter list*/
/* These styles in conjunction with clean XHTML allows the document to be parsed and have semantic meaning -*/
/* for example a TOC of methods could be built trivially by listing each item with the .Method class*/
.Method {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
  /*.params is used for the actual params list*/
.params {
	font-size: 13px;
	font-style: italic;
	color: #284964;
	font-family: "Times New Roman", Times, serif;
}
.MethodDeprecated {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #999999;
}

.Property {
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
.PropertyType {
	font-size: 13px;
	font-style: italic;
	color: #284964;
	font-family: "Times New Roman", Times, serif;
}
.small {
	font-family: Tahoma, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 10px;
}
.LargeHeading {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 22px;
}

