.chromemenu{
width: 100%;
}

.chromesep {
background:#D0D0D0 none repeat scroll 0 0;
color:#404090;
padding:4px;
width:100%;
}

.chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.chromemenu ul{
border: 1px solid #BBB;
width: 100%;
background: url(images/chromebg.gif) center center repeat-x; /*Theme Change here*/
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromemenu ul li{
display: inline;
}

.chromemenu ul li a{
font:bold 12px Tahoma; 
color: #494949;
padding: 4px 7px;
margin: 0;
text-decoration: none;
border-right: 1px solid #DADADA;
}

.chromemenu ul li a:hover{
background: url(images/chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}

.chromemenu ul li a[onMouseover]:after{ /*HTML to indicate drop down link*/
content: " ";
/*content: " " url(/styles/images/chromedownimage.gif); /*uncomment this line to use an image instead*/
}

/* ------------------------------------------------------------------------ */
/* Style for Drop Down Menu */

.DropMenu{
position:absolute;
top: 0;
border: 1px solid #BBB; /*Theme Change here*/
border-bottom-width: 0;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}

.DropMenu a{
font:bold 12px Tahoma;
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*Theme Change here*/
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.DropMenu a:hover{ /*Theme Change here*/
background-color: #F0F0F0;
}

.DropMenu div{
margin-bottom: 0px;
margin-top: 0px;
}