
/* copies of jquery-ui for case where only jquery mobile exists. 
*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }

/* CSS Document */

html{
 margin:0;
 padding:0;
 height:100%;
 border:none;
}

form {
 padding: 0px;
 margin: 0px;
}

/*optional table which can go around menus*/
.menutable {
 padding: 0px;
 border-collapse: collapse;
 border: 0;
 background-color: #7190e0;
 height:100%;
}

.Black{color: #000000!important;}
.Maroon{color: #800000!important;}
.Green{color: #008000!important;}
.Olive{color: #808000!important;}
.Orange{color: #FF8000!important;}
.Navy{color: #000080!important;}
.Purple{color: #800080!important;}
.Teal{color: #008080!important;}
.Gray{color: #808080!important;}
.Silver{color: #C0C0C0!important;}
.Red{color: #FF0000!important;}
.Lime{color: #00FF00!important;}
.Yellow{color: #FFFF00!important;}
.Blue{color: #0000FF!important;}
.Fuchsia{color: #FF00FF!important;}
.Aqua{color: #00FFFF!important;}
.White{color: #FFFFFF!important;}
.black{color: #000000!important;}
.maroon{color: #800000!important;}
.green{color: #008000!important;}
.olive{color: #808000!important;}
.orange{color: #FF8000!important;}
.navy{color: #000080!important;}
.purple{color: #800080!important;}
.teal{color: #008080!important;}
.gray{color: #808080!important;}
.silver{color: #C0C0C0!important;}
.red{color: #FF0000!important;}
.lime{color: #00FF00!important;}
.yellow{color: #FFFF00!important;}
.blue{color: #0000FF!important;}
.fuchsia{color: #FF00FF!important;}
.aqua{color: #00FFFF!important;}
.white{color: #FFFFFF!important;}

.black-bg{background-color: #000000!important;}
.maroon-bg{background-color: #800000!important;}
.green-bg{background-color: #008000!important;}
.olive-bg{background-color: #808000!important;}
.orange-bg{background-color: #FF8000!important;}
.navy-bg{background-color: #000080!important;}
.purple-bg{background-color: #800080!important;}
.teal-bg{background-color: #008080!important;}
.gray-bg{background-color: #808080!important;}
.silver-bg{background-color: #C0C0C0!important;}
.ash-bg{background-color: #F0F0F0!important;}
.red-bg{background-color: #FF0000!important;}
.lime-bg{background-color: #00FF00!important;}
.yellow-bg{background-color: #FFFF00!important;}
.blue-bg{background-color: #0000FF!important;}
.fuchsia-bg{background-color: #FF00FF!important;}
.aqua-bg{background-color: #00FFFF!important;}
.white-bg{background-color: #FFFFFF!important;}

.Bold{font-weight: bold;}
.RightJustify{text-align: right;}
.CenterJustify{text-align: center;}
.LeftJustify{text-align: left;}
.FixedWidth{font-family: "Courier New"!important;}
.FixedPitch{font-family: "Courier New"!important;}
.nt-fixed-pitch{font-family: "Courier New"!important;}
.NoWrap{white-space: nowrap;}
.Wrap{white-space: normal;}
.Upper{text-transform: uppercase;}
.Lower{text-transform: lowercase;}
.Capitalize{text-transform: capitalize;}
.nt-bold{font-weight: bold;}
.nt-normal{font-style:normal;font-weight:normal;}
.nt-italic {font-style:italic}
.nt-upper{text-transform: uppercase;}
.nt-lower{text-transform: lowercase;}
.nt-capitalize{text-transform: capitalize;}
.nt-right-justify{text-align: right;}
.nt-center-justify{text-align: center;}
.nt-left-justify{text-align: left;}
.PageBodyDiv {height:100%;}

.SelectList {
 color: #333;
 border-collapse: collapse;
}

.SelectList1 {
 background-color: #EEEEEE;
/* padding: 3px;*/
}
.SelectList2 {
 background-color: #FFFFFF;
/* padding: 3px;*/
}

/* generic div used for forms */
.fdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for form fields */
.adiv {
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for hidden form fields */
.hdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 0px;
 display: inline;
}

/*------------------------------------------------------------*/
/*general layout*/
.nt-wide{width:100%;}
.nt-left{float: left; margin-right: 5px;}
.nt-hard-left{float: left;}
.nt-center{margin:auto;padding:0;}
.nt-right{float: right;}
.nt-nowrap{white-space: nowrap;}
.nt-wrap{white-space: normal;}
.nt-width-0{width:0;}
.nt-width-5{width:5%;}
.nt-width-10{width:10%;}
.nt-width-15{width:15%;}
.nt-width-20{width:20%;}
.nt-width-25{width:25%;}
.nt-width-30{width:30%;}
.nt-width-33{width:33%;}
.nt-width-35{width:35%;}
.nt-width-40{width:40%;}
.nt-width-45{width:45%;}
.nt-width-50{width:50%;}
.nt-width-55{width:55%;}
.nt-width-60{width:60%;}
.nt-width-65{width:65%;}
.nt-width-66{width:66%;}
.nt-width-70{width:70%;}
.nt-width-75{width:75%;}
.nt-width-80{width:80%;}
.nt-width-85{width:85%;}
.nt-width-90{width:90%;}
.nt-width-95{width:95%;}
.nt-width-99{width:99%;}
.nt-width-100{width:100%;}

.nt-width-50px{width:50px;}
.nt-width-75px{width:75px;}
.nt-width-100px{width:100px;}
.nt-width-110px{width:110px;}
.nt-width-125px{width:125px;}
.nt-width-150px{width:150px;}
.nt-width-200px{width:200px;}
.nt-width-300px{width:300px;}
.nt-width-400px{width:400px;}
.nt-width-500px{width:500px;}

.nt-height-10px{height:10px;}
.nt-height-15px{height:15px;}
.nt-height-20px{height:20px;}

.nt-margin-top{margin-top: 0.5em !important;}
.nt-margin-right{margin-right: 0.5em !important;}
.nt-margin-bottom{margin-bottom: 0.5em !important;}
.nt-margin-left{margin-left: 0.5em !important;}

.nt-margin-top-0{margin-top:0 !important;}
.nt-margin-right-0{margin-right:0 !important;}
.nt-margin-bottom-0{margin-bottom:0 !important;}
.nt-margin-left-0{margin-left:0 !important;}

.nt-margin-top-1{margin-top: 1em !important;}
.nt-margin-right-1{margin-right: 1em !important;}
.nt-margin-bottom-1{margin-bottom: 1em !important;}
.nt-margin-left-1{margin-left: 1em !important;}

.nt-margin-top-15{margin-top: 1.5em !important;}
.nt-margin-right-15{margin-right: 1.5em !important;}
.nt-margin-bottom-15{margin-bottom: 1.5em !important;}
.nt-margin-left-15{margin-left: 1.5em !important;}

.nt-padding-left-1{padding-left: 1em !important;}
.nt-padding-right-1{padding-right: 1em !important;}
.nt-padding-top-1{padding-top: 1em !important;}
.nt-padding-bottom-1{padding-bottom: 1em !important;}

.nt-padding-1{padding: 1em !important;}
.nt-padding-3rd{padding: 0.33em !important;}
.nt-padding-5px{padding: 5px !important;}
.nt-padding-2px{padding: 2px !important;}

.nt-onright{
border-collapse: collapse;
display: inline;
float: left;
min-width: 55%;
}

.nt-inline {
 border-collapse: collapse;
 display: inline-block;
}

.nt-fix-bottom-left{
position:absolute;
bottom:0;
left:0;
}

.nt-fix-bottom-right{
position:absolute;
bottom:0;
right:0;
}


.nt-fix-top-left{
position:absolute;
top:0;
left:0;
}

.nt-fix-top-right{
position:absolute;
top:0;
right:0;
}

.nt-icon-left{
float:left;
margin-top:3px;
margin-left:0px;
}

/* for compatability with static sites */
.bdiv {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
 visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar-access { position: absolute; right: 1.6em; top: 53%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.nt-browse-titlebar-access{float:right;padding-top:2px;}
.nt-form-page-access{position:absolute;top:12px;right:12px;}

.nt-site-header{
border-bottom:5px solid #7190E0;
padding:0%;
width:100%;
/*font-size: 3em;*/
font-weight: normal;
}

.nt-site-footer{
border-top:5px solid #7190E0;
width:100%;
font-size: 1em;
font-weight: normal;
margin-top: 10px;
}

.nt-site-header-logo{
margin: 4px;
}

/* for mobile, checkboxes in browses without text.*/
.ui-btn-inner{
overflow:visible;     
min-height: 1em;
}

/* breadcrumb support */
.nt-float-left{
  float:left;
}

.nt-bread {
	display: inline-block;
	border:1px #CCCCCC solid;
	background-color: #FCFCFF;	/*x*/  
 }

.nt-crumb-first{
	margin-left: 5px;
}

a.nt-crumb, a.nt-crumb-first{
	height: 24px;
}

a.nt-crumb, a.nt-crumb-first, .nt-crumb-last{
  background-color: #8E9FC2;
  color: #FFFFFF;
  display: block;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important;	     
  margin-top: 5px;
  margin-bottom: 5px;    
}

a.nt-crumb-last:hover{
	background-color:#0066CC;	
	color:#FFFFFF;
}

.nt-whole-crumb{
	display:block;	
}

.nt-whole-crumb:hover a {
	background-color:#0066CC;	
}

.nt-whole-crumb:hover .nt-crumb-right{
	border-left: 12px solid #0066CC;    
}

.nt-whole-crumb:hover .nt-crumb-left{
	border-top: 12px solid  #0066CC;
	border-bottom: 12px solid  #0066CC;
}

.nt-crumb-link{
	text-decoration: none !important;	
}

.nt-crumb-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #8E9FC2;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.nt-crumb-left {
	width: 0;
	height: 0;
	border-top: 12px solid  #8E9FC2;
	border-bottom: 12px solid  #8E9FC2;
	border-left: 12px solid #FCFCFF;  /*x*/
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;	  
}

.nt-crumb-last{
	color: #000000;	
	margin-left: 5px;  
	margin-right: 5px;	
	background-color: #F8F8F8;
	border: 1px solid #DDDDDD;
}
/* end of breadcrumb support */

.nt-leftpanel{float:left;}
.nt-rightpanel{float:right;}
.nt-contentpanel{float:left;}
.nt-contentpanel-h{width:100%;}

@media screen and (max-width: 600px){
.nt-leftpanel-l{display:none;}
.nt-contentpanel-l{width:100%;}
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
.nt-leftpanel-l{width:28%;}
.nt-contentpanel-l{width:68%;}
}
@media screen and (min-width: 1025px){
.nt-leftpanel-l{width:18%;}
.nt-contentpanel-l{width:78%;}
}	

@media screen and (max-width: 600px){
.nt-rightpanel-r{display:none;}
.nt-contentpanel-r{width:100%;}
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
.nt-rightpanel-r{width:28%;}
.nt-contentpanel-r{width:68%;}
}
@media screen and (min-width: 1025px){
.nt-rightpanel-r{width:18%;}
.nt-contentpanel-r{width:78%;}
}	

@media screen and (max-width: 600px){
.nt-leftpanel-lr{display:none;}
.nt-rightpanel-lr{display:none;}
.nt-contentpane-lr{width:100%;}
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
.nt-leftpanel-lr{width:28%;}
.nt-rightpanel-lr{display:none;}
.nt-contentpanel-lr{width:68%;}
}
@media screen and (min-width: 1025px){
.nt-leftpanel-lr{width:19%;}
.nt-rightpanel-lr{width:19%;}
.nt-contentpanel-lr{width:58%;}
}	

